<div class="loginform">
	<form class="loginForm">
		<h1>Login</h1>
		<div class="content">
			<span id="err"></span>
			<div class="input-field">
				<input type="text" placeholder="USERNAME" id="username" />
			</div>
			<div class="input-field">
				<input type="text" placeholder="PASSWORD" id="password" />
			</div>
		</div>
		<div id="signup-submit" class="action">
			<button id="signup-submit">Sign Up</button>
			<button id="login-submit">Login</button>
		</div>

	</form>

</div>
<script src="./js/login.js"></script>